.div1{
    background-color: #ff7f00; width: 500px; height: 500px;
}
.div2{
    background-color: #90ee90; width: 50%; height: 50%
}
.div2 p{
    background-color: red; color: white; font-family: monospace; font-size: 25px; font-style: oblique; margin: 0
}
.div3{
    background-color: lightblue; width: 50%; height: 50vh
}
.div4{
    background-color: red; width: 75vw; height: 50%;
}